# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# Database / migrations artifacts
*.sqlite3
*.db

# Alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# IDE
.idea/
*.iml
backend/alembic/.env
backend/app/uploads/
